

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    color: var(--text-color-dark);
}
h1, h2, h3, h4, h5, h6,
p, li, span {
    color: var(--text-color-dark);
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button, input {
  font-family: inherit;
}

:root {
  /* Text sizes */
  /* 1 rem = 16px since it is relative to the html base, which is 16px by default */
  --text-size-xs: 0.75rem; /* 12px */
  --text-size-sm: 0.875rem; /* 14px */
  --text-size-md: 1rem; /* 16px */
  --text-size-lg: 1.5rem; /* 24px */
  --text-size-xl: 2rem; /* 32px */
  --text-size-3xl: 3rem; /* 48px */
  --text-size-4xl: 4.5rem; /* 72px */

  --padding-sm: 0.25rem;
  --padding-md: 0.5rem;
  --padding-lg: 1rem;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --border-radius-s: 0.25rem;
  --border-radius-m: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-pill: 50rem;

  /* Colors */
  --text-color-dark: #1F2937;
  --text-color-light: #F9FAF8;
  --text-muted-light: #cccccc;

  --color-btn-primary: #3882F6;
  --color-btn-primary-hover: #296ddb;
  --color-btn-primary-text: #fff;
  --color-btn-primary-border: #ffffff00;

  --color-btn-secondary: #F3F4F6;
  --color-btn-secondary-hover: #d0d1d1;
  --color-btn-secondary-text: #1F2937;
  --color-btn-secondary-border: #000;

  --color-bg-primary: #1F2937;
  --color-bg-section: #E5E7EB;
  --color-bg-alt: #ffffff;

}

html{
	font-family: 'Poppins', Arial, sans-serif;
}

body {
  font-size: var(--text-size-md);
  font-weight: var(--font-weight-normal);
  color: var(--text-color-dark);
  line-height: 1.6;
  background-color: var(--color-bg-primary);
}

.container {
  max-width: 95%;
  padding: 0 1rem;
  margin: 0 auto;
}


h1 {
  font-size: var(--text-size-3xl);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--text-size-lg);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--text-size-lg);
  font-weight: var(--font-weight-medium);
}

p {
  font-size: var(--text-size-md);
  font-weight: var(--font-weight-normal);
  font-family: 'Roboto', Arial, sans-serif;
  margin-bottom: 1rem;
}

a {
  color: var(--text-color-light);
}

small {
  font-size: var(--text-size-sm);
  color: var(--text-muted-light);
}

.text-primary{
  color: var(--text-color-light);
}

.text-secondary{
  color: var(--text-color-dark);
}

.text-muted{
  color: var(--text-muted-light);
}

.btn{
  font-size: var(--text-size-md);
  font-family: 'Roboto', Arial, sans-serif;
  padding: var(--padding-md) var(--padding-lg);
  border: none;
  border-radius: var(--border-radius-s);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

a.btn.btn-primary{
  text-decoration: none;
}

.btn-primary{
  background-color: var(--color-btn-primary);
  color: var(--color-btn-primary-text);
  border: 1px solid var(--color-btn-primary-border);
}

.btn-primary:hover{
  background-color: var(--color-btn-primary-hover);
}

.btn-secondary{
  background-color: var(--color-btn-secondary);
  color: var(--color-btn-secondary-text);
  border: 1px solid var(--color-btn-secondary-border);
}

.btn-secondary:hover{
  background-color: var(--color-btn-secondary-hover);
}

header nav{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hero{
  min-height: 100vh;
  height: auto;
}

.info{
  background-color: var(--color-bg-section);
}

footer{
  background-color: var(--color-bg-primary);
}

footer p{
  margin-bottom: 0;
  text-align: center;
}

@media (min-width: 576px) {
  header nav{
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  nav ul{
    flex-direction: row;
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  .container{
    max-width: 90%;
    margin: 0 auto;
  }

  h1{
    font-size: var(--text-size-4xl);
  }
  h2{
    font-size: var(--text-size-3xl);
  }
}

@media (min-width: 992px) {
  .container{
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}

@media (min-width: 1400px) {
  .container{
    max-width: 1400px;
  }
}
html, body {
    height: 100%;
    margin: 0;
}

/* background */
html, body {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  z-index: 0;

  background-image: url("/static/assets/finance-services-financial-transaction-e-commerce-e-payment_335657-3134.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: -1;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
  align-items: center;
}

nav a {
    color: var(--color-btn-primary);
}

nav a:hover {
    color: var(--color-btn-primary-hover);
}

.card {
    background: var(--color-bg-alt);
    padding: 2rem;
    border-radius: 12px;
    max-width: 500px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.about-heading {
  font-family: "Playfair Display", serif !important;
  font-size: 2rem;
  font-weight: 600;
  color: #321468; /* varm guld */
  margin-bottom: 0.5rem;
  position: relative;
}

/* Guldlinjen */
.about-heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin-top: 10px;
  background: linear-gradient(
    to right,
    #277ee9,
    #6edce6
  );
  border-radius: 2px;
}

.about-text {
  font-family: "Inter", sans-serif;
  color: #2e3e57;
  max-width: 700px;
  line-height: 1.6;
}

/* ===== HERO / INTERNETBANKEN ===== */

.hero {
  position: relative;
  min-height: 60vh;
  display: flex;
  align-items: center;
}

.hero-content {
  position: relative;
  z-index: 2;
}

/* Huvudrubrik */
.hero-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 3.2rem;
  font-weight: 700;
  color: #124ed0;
  margin-bottom: 0.3rem;
  position: relative;
}

/* Guld-accent under rubriken */
.hero-accent {
  display: block;
  width: 90px;
  height: 3px;
  margin-top: 12px;
  background: linear-gradient(
    to right,
    #f1dc8e,
    #b89b2d,
    #8c7420
  );
  border-radius: 3px;
}

/* Undertitel */
.hero-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #374151;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}

/* Beskrivning */
.hero-text {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #1390ca;
  max-width: 520px;
  line-height: 1.6;
}


body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
}


nav a{
  color: #374151;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover{
  color: #b89b2d;
}



/* ===== NAVBAR ANIMATION ===== */

.navbar {
  display: flex;
  align-items: center;
  gap: 18px;
}

/* Vanliga länkar */
.nav-link {
  position: relative;
  font-family: "Inter", sans-serif;
  color: #374151;
  font-weight: 500;
  text-decoration: none;
  padding: 6px 2px;
  transition: color 0.25s ease;
}

/* Hover: textfärg */
.nav-link:hover {
  color: #b89b2d; /* guld */
}

/* Underline animation */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: linear-gradient(to right, #f1dc8e, #b89b2d, #8c7420);
  transition: width 0.3s ease;
  border-radius: 2px;
}

/* När man hovrar */
.nav-link:hover::after {
  width: 100%;
}


/* background */

.home-page{
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.03), rgba(0,0,0,0.03)),
    url("/static/assets/images/545f3a21-8964-499e-85c2-6c04cc80ed2c.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}





/* about us  */

.about-page .about-hero {
  background:
    linear-gradient(
      rgba(168, 203, 219, 0.85),
      rgba(2, 0, 0, 0.85)
    ),
    url("/static/assets/images/9a1784d7-20b7-4f53-a362-a6cc1a6ac28d.webp");

  background-size: cover;
  background-position: center;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.about-hero-content {
  max-width: 700px;
  padding: 3rem;
  color: #9fc0f6;
}

.about-hero h1 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.about-hero h2 {
  color: #93a4c0;
  margin-bottom: 1rem;
}


/* style */

.customer-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
}

.customer-table th,
.customer-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.customer-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.customer-table tr:nth-child(even) {
  background-color: #fafafa;
}

.customer-table tr:hover {
  background-color: #eef3ff;
}

.customer-table a {
  color: #1a4cff;
  text-decoration: none;
  font-weight: bold;
}

.customer-table a:hover {
  text-decoration: underline;
}

.pagination {
  margin-top: 15px;
}

.pagination a {
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
}

.page-info {
  margin-top: 10px;
  font-style: italic;
}
