

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    color: var(--text-color-dark);
}
h1, h2, h3, h4, h5, h6,
p, li, span {
    color: var(--text-color-light);
}

.home-page

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button, input {
  font-family: inherit;
}

:root {
  /* Text sizes */
  /* 1 rem = 16px since it is relative to the html base, which is 16px by default */
  --text-size-xs: 0.75rem; /* 12px */
  --text-size-sm: 0.875rem; /* 14px */
  --text-size-md: 1rem; /* 16px */
  --text-size-lg: 1.5rem; /* 24px */
  --text-size-xl: 2rem; /* 32px */
  --text-size-3xl: 3rem; /* 48px */
  --text-size-4xl: 4.5rem; /* 72px */

  --padding-sm: 0.25rem;
  --padding-md: 0.5rem;
  --padding-lg: 1rem;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --border-radius-s: 0.25rem;
  --border-radius-m: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-pill: 50rem;

  /* Colors */
  --text-color-dark: #1F2937;
  --text-color-light: #F9FAF8;
  --text-muted-light: #cccccc;

  --color-btn-primary: #3882F6;
  --color-btn-primary-hover: #296ddb;
  --color-btn-primary-text: #fff;
  --color-btn-primary-border: #ffffff00;

  --color-btn-secondary: #F3F4F6;
  --color-btn-secondary-hover: #d0d1d1;
  --color-btn-secondary-text: #1F2937;
  --color-btn-secondary-border: #000;

  --color-bg-primary: #1F2937;
  --color-bg-section: #E5E7EB;
  --color-bg-alt: #ffffff;

}



html{
	font-family: 'Poppins', Arial, sans-serif;
}

body {
  font-size: var(--text-size-md);
  font-weight: var(--font-weight-normal);
  color: var(--text-color-dark);
  line-height: 1.6;
  background-color: var(--color-bg-primary);
}

.container {
  max-width: 95%;
  padding: 0 1rem;
  margin: 0 auto;
}


h1 {
  font-size: var(--text-size-3xl);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--text-size-lg);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--text-size-lg);
  font-weight: var(--font-weight-medium);
}

p {
  font-size: var(--text-size-md);
  font-weight: var(--font-weight-normal);
  font-family: 'Roboto', Arial, sans-serif;
  margin-bottom: 1rem;
}

a {
  color: var(--text-color-light);
}

small {
  font-size: var(--text-size-sm);
  color: var(--text-muted-light);
}

.text-primary{
  color: var(--text-color-light);
}

.text-secondary{
  color: var(--text-color-dark);
}

.text-muted{
  color: var(--text-muted-light);
}

.btn{
  font-size: var(--text-size-md);
  font-family: 'Roboto', Arial, sans-serif;
  padding: var(--padding-md) var(--padding-lg);
  border: none;
  border-radius: var(--border-radius-s);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

a.btn.btn-primary{
  text-decoration: none;
}

.btn-primary{
  background-color: var(--color-btn-primary);
  color: var(--color-btn-primary-text);
  border: 1px solid var(--color-btn-primary-border);
}

.btn-primary:hover{
  background-color: var(--color-btn-primary-hover);
}

.btn-secondary{
  background-color: var(--color-btn-secondary);
  color: var(--color-btn-secondary-text);
  border: 1px solid var(--color-btn-secondary-border);
}

.btn-secondary:hover{
  background-color: var(--color-btn-secondary-hover);
}

header nav{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hero{
  min-height: 100vh;
  height: auto;
}

.info{
  background-color: var(--color-bg-section);
}

footer{
  background-color: var(--color-bg-primary);
}

footer p{
  margin-bottom: 0;
  text-align: center;
}

@media (min-width: 576px) {
  header nav{
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  nav ul{
    flex-direction: row;
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  .container{
    max-width: 90%;
    margin: 0 auto;
  }

  h1{
    font-size: var(--text-size-3xl);
    
    color: rgb(246, 250, 246);
  }
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}



  .about-hero h2{
  font-size: 1rem;
  font-weight: 100;
  color: rgb(72, 16, 185);
  line-height: 1.6;
  margin-top: 12px;
  max-width: 600px;
}

}

@media (min-width: 992px) {
  .container{
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}

@media (min-width: 1400px) {
  .container{
    max-width: 1400px;
  }
}
html, body {
    height: 100%;
    margin: 0;
}

/* background */
html, body {
  height: 100%;
  margin: 0;
}






nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
  align-items: center;
}

nav a {
    color: var(--color-btn-primary);
}

nav a:hover {
    color: var(--color-btn-primary-hover);
}

.card {
    background-color: #1e293b;  /* mörkgrå-blå */
    color: white;
    border: none;
    border-radius: 12px;
}

.btn-primary {
    background-color: #3b82f6;
    border: none;
}

.btn-primary:hover {
    background-color: #2563eb;
}

.btn-success {
    background-color: #22c55e;
    border: none;
}

.btn-success:hover {
    background-color: #16a34a;
}




.about-heading {
  font-family: "Playfair Display", serif !important;
  font-size: 2rem;
  font-weight: 600;
  color: #e7e5eb; /* varm guld */
  margin-bottom: 0.5rem;
  position: relative;
}

/* Guldlinjen */
.about-heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin-top: 10px;
  background: linear-gradient(
    to right,
    #277ee9,
    #6edce6
  );
  border-radius: 2px;
}

.about-text {
  font-family: "Inter", sans-serif;
  color: #ebeef1;
  max-width: 700px;
  line-height: 1.6;
}

/*  */

.hero {
  position: relative;
  min-height: 60vh;
  display: flex;
  align-items: center;
}

.hero-content {
  position: relative;
  z-index: 2;
}

/* Huvudrubrik */
.hero-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 3.2rem;
  font-weight: 700;
  color: #124ed0;
  margin-bottom: 0.3rem;
  position: relative;
}

/* Guld-accent under rubriken */
.hero-accent {
  display: block;
  width: 90px;
  height: 3px;
  margin-top: 12px;
  background: linear-gradient(
    to right,
    #f1dc8e,
    #b89b2d,
    #8c7420
  );
  border-radius: 3px;
}





body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
}


nav a{
  color: #130113;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover{
  color: #b89b2d;
}



/* När man hovrar */
.nav-link:hover::after {
  width: 100%;
}


/* background */

body.home-page{
  background-image:
    linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
    url("/static/assets/images/home_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}






/* about us  */

/* bild  */
.about-page .about-hero {
  background:
    linear-gradient(
      rgba(8, 82, 64, 0.85),
      rgba(16, 15, 15, 0.85)
    ),
    url("/static/assets/images/545f3a21-8964-499e-85c2-6c04cc80ed2c.png");

  background-size: cover;
  background-position: center;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.about-hero-content {
  max-width: 700px;
  padding: 3rem;
  color: #9fc0f6;
}

.about-hero h1 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.about-hero h2 {
 
    background: rgba(213, 164, 202, 0.15);
    backdrop-filter: blur(10px);
    padding: 20px 30px;
    border-radius: 16px;
    border: 1px solid rgba(42, 161, 96, 0.3);
    color: rgb(232, 235, 236);
}

/* style */
/* table */

.customer-table{
  width: 80%;
  margin: 20px auto;              /* centrerar tabellen */
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 8px 20px rgba(10, 113, 233, 0.1);
  border-radius: 10px;
  overflow: hidden;
  font-size: 0.95rem;
}

/* Header */
.customer-table th{
  background-color: #88e6a9;
  color: rgb(6, 48, 29);
  padding: 10px;
  text-align: left;
  border: 2px solid #051111;
  font-weight: 600;
}

/* Celler */
.customer-table td{
  padding: 5px;
  border: 2px solid #499b9e;
  color: #110407;
}

/* Zebra-ränder */
.customer-table tbody tr:nth-child(even){
  background-color: #9db5b4;
}

/* Hover-effekt */
.customer-table tbody tr:hover{
  background-color: #a91f1f;
  transition: 0.2s;
}

/* Länkar i tabellen */
.customer-table a{
  color: #2563eb;
  text-decoration:dashed;
  font-weight: 600;
}

.customer-table a:hover{
  text-decoration: underline;
}

/* loggin */


  .container.login {
    background-color: rgba(238, 227, 227, 0.91);
    padding: 50px;
    border-radius: 12px;
}




/* cashier */

.view-customers-btn{
  display: inline-block;
  background: #3882F6;
  color: #110202;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

.view-customers-btn:hover{
  background: #1ac91a;
}


.cashier-wrap{
  min-height: 100vh;

  background-image:
    linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
    url("/static/assets/images/1.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
}



/* knappar i transaktioner*/

button {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #2563eb;
}

table {
    color: white;
}

th {
    color: white;
}

td {
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;   /* 🔥 Viktig */
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    font-weight: bold;
    color: white;
}


/* kundprofil */

.bank-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 16px 0 24px;
  background: #1e293b;
  border-radius: 10px;
  overflow: hidden;
}

.bank-table th,
.bank-table td {
  padding: 12px 14px;
  border-bottom: 1px solid rgba(6, 99, 20, 0.08);
  color: #e5e7eb;
}

.bank-table th {
  width: 30%;
  background: #0f172a;
  color: #ffffff;
  text-align: left;
  font-weight: 600;
}

.bank-table thead th {
  width: auto;
}

.bank-table tbody tr:hover {
  background: rgba(3, 94, 23, 0.04);
}

.text-right {
  text-align: right;
}

.total {
  color: #e5e7eb;
  margin-top: 10px;
}


