{% extends "user/layout.html" %}

{% block title %}Home Page{% endblock %}
{% block body_class %}home-page{% endblock %}

{% block content %}
<section class="hero text-primary">
    <div class="container">
        <h1>My Flask Web page</h1>
        <h2>This will become a nice bank app.</h2>
        <p>This is the content of the index page!</p>
        <p>Lorem ipsum dolor sit amet consectetur...</p>
        <button class="btn btn-primary">primary button</button>
        <button class="btn btn-secondary">secondary button</button>
    </div>
</section>

<section class="info">
    <div class="container">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit...</p>
    </div>
</section>
{% endblock %}
