{% extends "user/layout.html" %}

{% block title %}Home Page{% endblock %}
{% block body_class %}home-page{% endblock %}

{% block content %}
<section class="hero text-primary">
    <div class="container">
        <h1 style="color: rgb(211, 240, 221);">Smart banking starts with smart thinking</h1>
        <h2 >Welcome to an exclusive banking experience</h2>
        <p style="color: black;"> <br>
Our digital bank is designed for those who value discretion <br>
 security, and excellence. Manage your finances with confidence <br>
  through a platform that combines advanced protection <br>
   seamless performance, and refined simplicity. <br>
    Because your wealth deserves a higher standard.</p>
        
    </div>
</section>

{% endblock %}
