{% extends 'user/layout.html' %}
{% block content %}
<div class="container login">
  <form action="{{ url_for('security.login') }}" method="POST">
    {{ login_user_form.hidden_tag() }}
    
    <label>E-post</label>
    <input type="text" name="email" value="{{ preset_email }}">
    
    <label>Lösenord</label>
    <input type="password" name="password">
    
    <button type="submit">Logga in</button>
    <li><a class="btn btn-primary" href="{{url_for('security.logout')}}">Logout</a></li>


  </form>
</div>
{% endblock %}